[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=3.1.6"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-polymorphic = "*"
django-cors-headers = "*"
python-slugify = "*"
python-dotenv = "*"
psycopg2 = "*"
djangorestframework-camel-case = "*"
django-filter = "*"
django-rest-polymorphic = "*"
uvicorn = "*"
gunicorn = "*"
boto3 = "*"
django-storages = "*"
django-jazzmin = "*"

[dev-packages]
django-extensions = "*"
factory-boy = "*"

[requires]
python_version = "3.7"

[packages.django-phonenumber-field]
extras = [ "phonenumbers",]
