[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.0.*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-polymorphic = "*"
django-cors-headers = "*"
python-slugify = "*"

[dev-packages]
django-extensions = "*"
factory-boy = "*"

[requires]
python_version = "3.7"
