<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Алладин96 - магазин ковров в Екатеринбурге">
  <meta name="robots" content="index,follow">
  <link rel="stylesheet" href="./styles.css">
  <link rel="stylesheet" href="./delivery-styles.css">
  <title>Доставка | Алладин96.ру</title>
</head>
<body>
  <header>
    <nav class="top-nav">
      <img id="logo" src="./icons/aladdin_logo.svg" alt="logo">
      <div class="top-nav-address">
        <button>Адреса магазинов</button>
        <a href="">+7 (343) 237 47 47</a>
      </div>
      <ul>
        <li><a href="#">Акции</a></li>
        <li><a href="#">Доставка и оплата</a></li>
        <li><a href="#">Магазины</a></li>
        <li><a href="#">Обратная связь</a></li>
      </ul>
    </nav>

    <nav class="search-nav">
      <button>Каталог товаров</button>
      <div class="search-nav-input">
        <input type="text" placeholder="Поиск по товарам">
        <a href="#"><img src="./icons/search-solid.svg" alt="search"></a>
      </div>
      <ul>
        <li>
          <a href="#">
            <div class="search-nav-icon">
              <img src="./icons/user-regular.svg" alt="user">
              <p>Войти</p>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="search-nav-icon">
              <img src="./icons/heart-regular.svg" alt="heart">
              <p>Избранное</p>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="search-nav-icon">
              <img src="./icons/chart-bar-regular.svg" alt="chart">
              <p>Сравнение</p>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="search-nav-icon">
              <img src="./icons/shopping-cart-solid.svg" alt="shopping-cart">
              <p>Корзина</p>
            </div>
          </a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <section class="delivery">
      <h5>Доставка</h5>
      <p class="red">Внимание! Доставка осуществляется только после предварительной оплаты!</p>
      <p>Стандартная доставка осуществляется в будние, выходные и праздничные дни.</p>
      <p><b>ПО ЕКАТЕРИНБУРГУ</b> от 500 рублей за 1-3 ковра до 200*300 см.</p>
      <p><b>ПО ОБЛАСТИ</b> +20 рублей/км от границы города к стоимости доставки по Екатеринбургу.</p>
      <p></p>
      <p>ДОПОЛНИТЕЛЬНЫЕ РАСХОДЫ:</p>
      <ul>
        <li>В базовую стоимость услуги входит доставка до 3-х ковров, каждый последующий +150 р/ковер;</li>
        <li>Тяжелые ковры массой от 20 кг +150 р/ковер к базовой стоимости, а 240*340 см и больше рассчитываются индивидуально;</li>
        <li>Подъем выше 1-го этажа без грузового лифта + 20 р/этаж/шт.</li>
      </ul>

      <h5>Самовывоз</h5>
      <p>Закажите сейчас — заберите в удобном для Вас магазине:</p>
      <a href="shops.html">Список наших магазинов</a>
      <ul>
        <!-- <li>Подтверждение по смс оповестит Вас о том, что заказ прибыл в выбранный пункт самовывоза.</li> -->
        <li>Ожидание заказа в пункте самовывоза составляет 3 дня с момента прибытия.</li>
        <li>Стоимость доставки до пункта самовывоза зависит от удаленности.</li>
        <!-- <li>Заказы стоимостью свыше 200 000 рублей доставляются только после предварительной оплаты.</li> -->
      </ul>

      <h5>Оплата</h5>
      <p>Оплата возможна одним из следующих способов:</p>
      <ul>
        <li>Наличными при получении в пункте самовывоза.</li>
        <li>Онлайн-оплата банковской картой на сайте.</li>
      </ul>

    </section>

    <!-- Footer -->
    <footer>
      <p><i>&copy Аладдин96, 2020</i></p>
      <div>
        <a href="politics.html">Политика обработки персональных данных</a>
      </div>
    </footer>
    <!-- Footer end -->
  </main>

</body>
</html>