<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Алладин96 - магазин ковров в Екатеринбурге">
  <meta name="robots" content="index,follow">
  <link rel="stylesheet" href="./styles.css">
  <link rel="stylesheet" href="./politics-styles.css">
  <title>Алладин96.ру | магазин ковров</title>
</head>
<body>
  <header>
    <nav class="top-nav">
      <img id="logo" src="./icons/aladdin_logo.svg" alt="logo">
      <div class="top-nav-address">
        <button>Адреса магазинов</button>
        <a href="">+7 (343) 237 47 47</a>
      </div>
      <ul>
        <li><a href="#">Акции</a></li>
        <li><a href="#">Доставка и оплата</a></li>
        <li><a href="#">Магазины</a></li>
        <li><a href="#">Обратная связь</a></li>
      </ul>
    </nav>

    <nav class="search-nav">
      <button>Каталог товаров</button>
      <div class="search-nav-input">
        <input type="text" placeholder="Поиск по товарам">
        <a href="#"><img src="./icons/search-solid.svg" alt="search"></a>
      </div>
      <ul>
        <li>
          <a href="#">
            <div class="search-nav-icon">
              <img src="./icons/user-regular.svg" alt="user">
              <p>Войти</p>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="search-nav-icon">
              <img src="./icons/heart-regular.svg" alt="heart">
              <p>Избранное</p>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="search-nav-icon">
              <img src="./icons/chart-bar-regular.svg" alt="chart">
              <p>Сравнение</p>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="search-nav-icon">
              <img src="./icons/shopping-cart-solid.svg" alt="shopping-cart">
              <p>Корзина</p>
            </div>
          </a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <section class="politics">
      <h3>Политика обработки персональных данных</h3>
      <p>Политика в отношении обработки персональных данных:</p>
      <ol>
        <li>Общие положения:
          <ol>
            <li>Политика в отношении обработки персональных данных (далее — Политика) направлена на защиту прав и свобод физических лиц.</li>
            <li>Политика разработана в соответствии с п. 2 ч. 1 ст. 18.1 Федерального закона от 27 июля 2006 г. № 152-ФЗ «О персональных данных» (далее — ФЗ «О персональных данных»).</li>
            <li>Политика содержит сведения, подлежащие раскрытию в соответствии с ч. 1 ст. 14 ФЗ «О персональных данных», и является общедоступным документом.</li>
            <li>Настоящая Политика подлежит изменению и/или дополнению при изменении законодательства Российской Федерации.</li>
          </ol>
        </li>
        <li>Сведения об операторе</li>
        <li>Сведения об обработке персональных данных:
          <ol>
            <li>Оператор получает персональные данные непосредственно у субъектов персональных данных.</li>
            <li>Оператор обрабатывает персональные данные автоматизированным и неавтоматизированным способами, с использованием средств вычислительной техники и без использования таких средств.</li>
            <li>Действия по обработке персональных данных включают сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление и уничтожение.</li>
          </ol>
        </li>
        <li>Обработка персональных данных клиентов:
          <ol>
            <li>Оператор обрабатывает персональные данные клиентов с их согласия, предоставляемого клиентами и/или их законными представителями путем совершения конклюдентных действий на настоящем интернет-сайте.</li>
            <li>Оператор обрабатывает персональные данные клиентов не дольше, чем того требуют цели обработки персональных данных, если иное не предусмотрено требованиями законодательства РФ.</li>
            <li>Оператор обрабатывает персональные данные клиентов в целях соблюдения норм законодательства РФ, а также с целью: идентификации пользователя настоящего интернет-сайта; предоставления пользователям сайта эффективной клиентской поддержки; исполнения условий договора.</li>
          </ol>
        </li>
      </ol>
    </section>

    <!-- Footer -->
    <footer>
      <p><i>&copy Аладдин96, 2020</i></p>
      <div>
        <a href="politics.html">Политика обработки персональных данных</a>
      </div>
    </footer>
    <!-- Footer end -->
  </main>

</body>
</html>