@font-face {
  font-family: 'PTRootUIWebRegular';
  src: url('./fonts/PT%20Root%20UI_Regular.eot');
  src:
    url('./fonts/PT%20Root%20UI_Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/PT%20Root%20UI_Regular.woff2') format('woff2'),
    url('./fonts/PT%20Root%20UI_Regular.woff') format('woff'),
    url('./fonts/PT%20Root%20UI_Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg-gray-color: #F9F9F9;
  --blue-color: #04619E;
  --bright-blue-color: #0461B9;
  --dark-gray-color: #313131;
  --medium-gray-color: #C8C8C8;
  --light-500-gray-color: #EDEDED;
  --light-gray-color: #F0F0F0;
  --header1: calc(2rem + 1vw);
  --header2: calc(3.5rem + 1vw);
  --header3: calc(2.6rem + 1vw);
  --header4: calc(1.6rem + 1vw);
  --big-text: calc(0.8rem + 1vw);
  --text: calc(0.6rem + 1vw);
  --small-text: calc(0.2rem + 1vw);
  --big: calc(6rem + 1vw);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: var(--bg-gray-color);
}

body {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

html,
body,
input,
select,
textarea,
button {
  font-family: 'PTRootUIWebRegular';
}

li,
button,
input,
label,
p {
  font-size: var(--text);
}

h1 {
  font-size: var(--header1);
  padding: 2rem 0;
}

h2 {
  font-size: var(--header2);
}

h3 {
  font-size: var(--header3);
}

h4 {
  font-size: var(--header4);
  font-weight: bold;
}

h5 {
  font-size: var(--header4);
  font-weight: normal;
}

a {
  font-size: var(--text);
  text-decoration: none;
  color: var(--dark-gray-color);
  transition: color 0.2s ease;
}

a:hover {
  color: var(--blue-color);
}



main {
  min-height: 75vh
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.2rem 0;
}

nav ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

button {
  font-size: var(--small-text);
  background-position: center;
  background: var(--blue-color);
  color: white;
  border: none;
  cursor: pointer;
  padding: 1rem 1.2rem;
  border-radius: 15px;
  letter-spacing: 0.1rem;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  transition: all 0.2s ease;
}

button:active {
  transform: scale(0.97);
}

button:disabled,
button:disabled:hover {
  background: var(--light-gray-color);
  color: var(--bg-gray-color);
  border-color: var(--light-500-gray-color);
  cursor: default;
  box-shadow: none;
}

button:hover {
  background: var(--bright-blue-color);
  box-shadow: 0 0 4px #999;
}


/* OVERALL INPUT STYLES */

input[type=range] {
  position: absolute;
  pointer-events: none;
  height: 5px;
  width: 100%;
  margin: 0;
  opacity: 0;
  appearance: none;
  -webkit-appearance: none;
  z-index: 5;
}

input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 0;
  border: none;
  background: black;
  appearance: none;
  -webkit-appearance: none;
}

select {
  background: var(--bg-gray-color);
  margin: 0 2rem;
  padding: 0.6rem;
  color: var(--dark-gray-color);
  outline: 0;
  border-width: 0 0 2px;
  border-color: #DFDFDF;
  appearance: none;
  -webkit-appearance: none;
}

textarea {
  resize: vertical;
}


/* CUSTOM BUTTONS */

.gray-button {
  background: var(--bg-gray-color);
  color: var(--dark-gray-color);
}

.gray-button:hover {
  background: white;
  box-shadow: 0 0 4px var(--light-500-gray-color);
}

.dark-gray-button {
  background: var(--medium-gray-color);
  color: var(--bg-gray-color);
}

.dark-gray-button:hover {
  background: var(--dark-gray-color);
}

.bubbly-button {
  position: relative;
}

.bubbly-button::after,
.bubbly-button::before {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}

.bubbly-button::before {
  display: none;
  top: -75%;
  background-image:
    radial-gradient(circle, var(--blue-color) 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, var(--blue-color) 20%, transparent 30%),
    radial-gradient(circle, var(--blue-color) 20%, transparent 20%),
    radial-gradient(circle, var(--blue-color) 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, var(--blue-color) 15%, transparent 20%),
    radial-gradient(circle, var(--blue-color) 20%, transparent 20%),
    radial-gradient(circle, var(--blue-color) 20%, transparent 20%),
    radial-gradient(circle, var(--blue-color) 20%, transparent 20%),
    radial-gradient(circle, var(--blue-color) 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.bubbly-button::after {
  display: none;
  bottom: -75%;
  background-image:
    radial-gradient(circle, var(--blue-color) 20%, transparent 20%),
    radial-gradient(circle, var(--blue-color) 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, var(--blue-color) 15%, transparent 20%),
    radial-gradient(circle, var(--blue-color) 20%, transparent 20%),
    radial-gradient(circle, var(--blue-color) 20%, transparent 20%),
    radial-gradient(circle, var(--blue-color) 20%, transparent 20%),
    radial-gradient(circle, var(--blue-color) 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.bubbly-button.animate::before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}

.bubbly-button.animate::after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

#favorites-delete-button {
  background: transparent;
  color: black;
  box-shadow: none;
  padding: 0;
}

#favorites-delete-button:hover {
  color: var(--blue-color);
}

.filter-toggle {
  color: var(--blue-color);
  font-size: var(--small-text);
  cursor: pointer;
}

#filter-reset {
  margin-left: 20px;
}

#filter-open,
#filter-close {
  display: none;
}

#filter-open {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-20px, -40px);
}


/* BOUNCING BALLS LOADING */

.bouncer-loading {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 80px;
  height: 80px;
}

.bouncer-loading div {
  width: 15px;
  height: 15px;
  background: var(--blue-color);
  border-radius: 50%;
  animation: bouncer 0.5s cubic-bezier(.19, .57, .3, .98) infinite alternate;
}

.bouncer-loading div:nth-child(2) {
  animation-delay: 0.1s;
  opacity: 0.9;
}

.bouncer-loading div:nth-child(3) {
  animation-delay: 0.2s;
  opacity: 0.8;
}

.bouncer-loading div:nth-child(4) {
  animation-delay: 0.3s;
  opacity: 0.7;
}


/* TOP NAV SECTION */

.top-nav {
  height: 112px;
}

.top-nav-logo {
  display: flex;
  /*width: 100%;*/
  justify-content: space-between;
  align-items: center;
}

.top-nav-menu {
  flex: 1 1 40rem;
}

.top-nav-address {
  display: flex;
  justify-content: center;
  flex: 1 1 40rem;
  position: relative;
}

.top-nav-address a {
  align-self: center;
  padding-left: 2rem;
}

.top-nav-address-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 12%;
  width: 50vw;
  border-radius: 10px;
  background: var(--blue-color);
  color: black;
  z-index: 100;
  animation: move-top-to-bottom 0.5s ease;
}

.top-nav-address-item {
  color: var(--bg-gray-color);
  font-size: var(--text);
  padding: 1.6rem;
  cursor: pointer;
  transition: all 0.2s ease;


}

.top-nav-address-item:hover {
  background: var(--bright-blue-color);
  border-radius: 10px;
}


/* SEARCH NAV SECTION */

.search-nav {
  height: 66px;
  top: -66px;
  margin-bottom: 1rem;
}

.search-nav ul {
  flex: content;
}

.search-nav-fixed {
  position: fixed;
  width: 100%;
  top: 0 !important;
  left: 0;
  background: var(--bg-gray-color);
  box-shadow: 0 0 5px 1px var(--medium-gray-color);
  padding: 0 5%;
  margin-bottom: 0;
  z-index: 1000;
  transition: top 0.3s linear;
}

.search-nav-icon {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 3rem;
}

.search-nav-icon:hover {
  color: var(--blue-color);
}

#shopping-cart::before {
  content: attr(value);
  position: absolute;
  left: 65%;
  top: -15%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--blue-color);
  color: var(--bg-gray-color);
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  z-index: 100;
}

.search-nav-input {
  display: flex;
  flex: 3 1 auto;
  justify-self: stretch;
  padding: 0 2rem 0 5rem;
  position: relative;
}

.search-nav-input input {
  flex: 1;
  margin: 0 1rem;
  padding: 0.6rem;
  outline: 0;
  border-width: 0 0 2px;
  border-color: var(--medium-gray-color);
  background: var(--bg-gray-color);
  color: var(--dark-gray-color);
}

.search-nav-input input:focus {
  border-color: var(--blue-color);
}

.search-nav-input button {
  padding: 1rem;
  margin-left: -1rem;
  align-self: center;
  color: var(--dark-gray-color);
  background: transparent;
}

.search-nav-input button:hover {
  color: var(--blue-color);
  box-shadow: none;
}

#search-close-button {
  display: flex;
  position: absolute;
  right: 7%;
  color: var(--dark-gray-color);
}

#search-close-button:hover {
  color: var(--blue-color);
}

#search-close-button p {
  transform: translateX(-60px);
}

.search-nav-result {
  position: absolute;
  top: 100%;
  width: 89%;
  background: var(--blue-color);
  color: white;

  z-index: 100;


}

.search-nav-result div,
.search-nav-result p {
  overflow: hidden;
  font-size: var(--text);
  margin: 2rem 2rem;
  height: 100%;
  color: white;
}

.catalog {
  color: white;
  position: relative;
}

.catalog:active {
  transform: none;
}

.catalog-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 350px;
  background: var(--bg-gray-color);
  color: var(--blue-color);
  box-shadow: 0 0 4px var(--medium-gray-color);
  border-radius: 10px;
  z-index: 100;
  animation: move-top-to-bottom 0.3s ease;
}

.catalog-item {
  display: flex;
  text-align: left;
  padding: 0.6rem 3rem;
  margin: 2rem 0.6rem;
}

.catalog-item-name {
  color: var(--dark-gray-color);
  font-size: var(--small-text);
  line-height: 30px;
  border-bottom: solid 2px transparent;
  margin-left: 10px;
}

.catalog-item-name::after {
  display: block;
  content: '';
  border-bottom: solid 2px var(--blue-color);
  transform: scale(0);
  transition: transform 0.25s ease-in-out;
}

.catalog-item-name:hover::after {
  transform: scale(1);
}


/* CAROUSEL SECTION */

.carousel {
  display: flex;
  align-items: center;
  min-height: 40vh;
  position: relative;
  margin: 0 0 4rem 0;
}

.slides {
  box-shadow: 6px 6px 6px 2px rgba(80, 80, 80, .3);
  width: 100%;
  z-index: -1;
}

/* Hide the images by default */
.slide {
  display: none;
  height: 40vh;
}

/* Next & previous buttons */
.carousel-prev,
.carousel-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  transition: 0.6s ease;
}

.carousel-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.carousel-prev:hover,
.carousel-next:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.dots {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 2rem 2rem;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: var(--blue-color);
}


/* CATEGORIES SECTION */

.categories {
  display: flex;
  flex-direction: column;
}

.categories h4 {
  margin-top: 1rem;
}

.categories-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 2rem;
  margin: 2rem 0 4rem 0;
}

.categories-card {
  flex: 1 1 30rem;
  min-height: 15rem;
  max-width: 30vw;
  text-align: center;
  border-radius: 10px;
  box-shadow:
    3px 3px 3px 2px rgba(119, 136, 153, .2),
    0 -1px 1px 1px rgba(119, 136, 153, .1);
  transition: box-shadow 0.4s ease;
}

.categories-card:hover {
  box-shadow:
    3px 3px 3px 2px rgba(119, 136, 153, .2),
    0 -1px 1px 1px rgba(119, 136, 153, .1),
    0px 5px 5px rgba(119, 136, 153, .2);
}

.categories-card a {
  display: flex;
  flex-direction: column;
}

.categories-card-title {
  font-size: var(--big-text);
  font-weight: bold;
  padding: 1rem;
}

.categories-card img {
  object-fit: cover;
  height: 15rem;
  border-radius: 0 0 10px 10px;
  opacity: 0.75;
  transition: opacity 0.6s ease;
}

.categories-card img:hover {
  opacity: 1;
}


/* VERTICAL CARDS */

.vertical {
  display: flex;
}

.vertical-title {
  min-width: 20rem;
  max-width: 20rem;
  padding-right: 1rem;
}

.vertical-wrapper {
  position: relative;
  overflow-x: hidden;
}

.vertical-cards {
  display: flex;
  flex: 1;
  padding: 1rem 0;
  justify-content: stretch;
  transition: transform 0.6s ease-in-out
}

.vertical-card {
  display: flex;
  /*flex: 1 0 33%;*/
  flex: 1 0;
  min-height: 30rem;
  transition: box-shadow 0.3s ease;
}

.vertical-card:first-of-type {
  margin-left: 1rem;
}

.vertical-card:hover {
  box-shadow:
    3px 3px 3px 3px rgba(119, 136, 153, .2),
    0 -3px 3px 3px rgba(119, 136, 153, .2),
    -3px 0px 3px 3px rgba(119, 136, 153, .2);
}

.vertical-card>* {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vertical-card-left {
  flex: 1 1 0px;
}

.vertical-card-right {
  padding: 2rem 2rem 2rem 0;
}

.vertical-card-image,
.vertical-card-title,
.vertical-card-cost {
  padding: 1.2rem;
}

.vertical-card-image img {
  border-radius: 7px;
}

.vertical-card-cost {
  font-size: var(--big-text);
}

.vertical-cart-icon,
.vertical-cart-button {
  position: relative;
}

.vertical-cart-icon,
.vertical-cart-button,
.vertical-cart-button a {
  outline: none;
  color: var(--medium-gray-color);
  transition: all 0.3s ease-in-out;
}

.vertical-cart-icon {
  background: none;
  border-radius: 50%;
  line-height: 20px;
  width: 52px;
  height: 52px;
  border: 5px solid transparent;
}

.vertical-cart-icon:hover {
  color: var(--blue-color);
  background: transparent;
  box-shadow: none;
}

.tooltip {
  z-index: 100;
}

.tooltip::before {
  display: inline-block;
  content: attr(value);
  position: absolute;
  bottom: calc(100% + 5px);
  left: 50%;
  background: var(--bg-gray-color);
  color: var(--dark-gray-color);
  text-align: center;
  box-shadow: rgb(187, 187, 187) 0 1px 2px 0;
  border-radius: 5px;
  padding: 0.4rem;
  width: 18rem;
  height: 2rem;
  font-size: 1.2rem;
  z-index: 100;
  opacity: 0;
  transform: translateX(-50%);
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.tooltip:hover::before {
  opacity: 1;
}

.vertical-cart-icon-pushed {
  color: var(--light-500-gray-color) !important;
  background: var(--blue-color) !important;
}

.vertical-cart-icon-pushed:hover {
  box-shadow: 0 0 8px var(--medium-gray-color);
}

.vertical-cart-icon-pushed:focus {
  outline: none;
}

.vertical-cart-button,
.vertical-cart-button a {
  border: 5px solid transparent;
  background: var(--light-gray-color);
  border-radius: 50%;
  transition: color 0.4 ease, background 0.4s ease;
}

.vertical-cart-button:hover,
.vertical-cart-button:hover a {
  color: var(--bg-gray-color);
  background: var(--blue-color);
}

.vertical-cart-button-pushed {
  border: 5px solid var(--blue-color);
  color: var(--blue-color);
  background: var(--bg-gray-color);
}

.vertical-cart-button-pushed:hover {
  color: var(--blue-color);
  background: var(--bg-gray-color);
}

.prev-vertical-card,
.next-vertical-card {
  position: absolute;
  top: 50%;
  right: 0;
  padding-left: 8px;
  padding-top: 5px;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
  background-color: #bbb;
  overflow: hidden;
  user-select: none;
  transition: 0.6s ease;
  transform: translateY(-50%);
}

.prev-vertical-card {
  padding-left: 1rem;
  margin-left: -0.9rem;
  left: 2%;
}

.next-vertical-card {
  padding-left: 1.1rem;
  margin-right: -0.9rem;
  right: 2%;
}

.prev-vertical-card:hover,
.next-vertical-card:hover {
  background: var(--blue-color);
  color: white;
}


/* FOOTER */

footer {
  display: flex;
  align-items: center;
  color: var(--a-color);
  min-height: 10vh;
  padding: 2rem 0;
  margin-top: 3rem;
  border-top: 1px solid var(--medium-gray-color);
}

footer div {
  flex: 1;
  text-align: right;
}


/* POLICY PAGE*/

.policy p {
  margin-bottom: 2rem;
}

.policy ol {
  counter-reset: item
}

.policy li {
  display: block;
}

.policy ol>li:before {
  content: counters(item, ".") " ";
  counter-increment: item
}

.policy ol>li {
  margin-top: 2rem;
  padding-left: 2rem;
}


/* DELIVERY PAGE */

.delivery p {
  margin-bottom: 1rem;
}

.delivery ul li {
  list-style: '*';
  margin-left: 2rem;
  padding-left: 1rem;
}

.delivery a {
  display: block;
  padding: 0 0 1.8rem 1.8rem;
  color: var(--blue-color);
  font-size: 2rem;
  text-decoration: underline;
}


/* CART PAGE */

.cart-wrapper {
  display: flex;
  min-height: 60vh;

}

/* CART PAGE - CART PRODUCTS */

.cart-products {
  flex: 1;
  margin: 2rem 0;
}

.cart-products-item {
  display: flex;
  position: relative;
  padding: 3rem 0;
  padding-right: 8rem;
  margin-right: 1.6rem;
  border-bottom: 1px solid var(--medium-gray-color);
}

.cart-products-item:last-child {
  border-bottom: none;
}

.cart-products-item-img {
  width: 10rem;
}

.cart-products-item-icons {
  position: absolute;
  top: 45%;
  right: 0;
  cursor: pointer;
}

.cart-products-item-icons>* {
  margin-right: 1rem;
}

.cart-products-item-icons>*:hover {
  color: var(--blue-color);
}

.cart-products-item-name,
.cart-products-item-actions {
  align-self: center;
}

.cart-products-item-actions,
.cart-products-item-plusminus {
  display: flex;
}

.cart-products-item-name {
  flex: 1;
  padding-left: 3rem;
}

.cart-products-item-name a {
  font-size: 3rem;
}

.cart-products-item-name p {
  padding-top: 0.8rem;
  font-size: var(--small-text);
}

.cart-products-item-price {
  font-size: var(--big-text);
  padding-left: 3rem;
  min-width: 15rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cart-products-item-plusminus>* {
  align-self: center;
  margin: 0 0.4rem;
  cursor: pointer;
}

.cart-products-item-plusminus-val {
  text-align: center;
  border-bottom: 1px solid var(--medium-gray-color);
  font-size: var(--big-text);
  width: 3.6rem;
  padding: 0 1rem;
  cursor: unset;
}

/* CART PAGE - CART PROPS */

.cart-props {
  display: flex;
  flex-direction: column;
  background: var(--light-500-gray-color);
  width: 20%;
  padding: 2rem 2rem;
  margin: 2rem 0;
  border-radius: 15px;
  box-shadow: 0 0 6px var(--light-500-gray-color);
}

.cart-props p {
  margin: 2rem 0;
}

.cart-props-buttons {
  margin: 3rem 0;
}

.cart-props button {
  flex: 1;
  max-height: 6rem;
  box-shadow: 0 0 4px 1px var(--medium-gray-color);
  margin: 0.8rem 0;
  width: 100%;
}


#empty-cart {
  padding-top: 5rem;
  text-align: center;
}


/* CART PAGE */

.checkout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 50vw;
  width: 80%;
  margin: 0 auto;
}

.checkout-circles {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.checkout-circle {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--light-500-gray-color);
  color: var(--medium-gray-color);
  border: 1px solid var(--medium-gray-color);
  line-height: 50px;
  text-align: center;
  font-size: var(--big-text);
  margin: 0 10rem;
}

.circle-active {
  background: var(--blue-color);
  color: var(--bg-gray-color);
  border-color: transparent;
}

.checkout-circle::before {
  position: absolute;
  content: attr(data-desc);
  color: var(--dark-gray-color);
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.checkout-circle::after {
  position: absolute;
  content: '';
  width: 25rem;
  height: 3px;
  background: var(--medium-gray-color);
  color: var(--medium-gray-color);
  top: 50%;
  left: 50%;
  z-index: -1;
}

.checkout-circle:last-of-type::after {
  display: none;
}

.checkout-buttons {
  display: flex;
  justify-content: flex-end;
}

.checkout-buttons>* {
  margin-right: 2rem;
  padding: 1.2rem 2rem;
  font-size: var(--text);
}

#backwardbutton {
  background: var(--medium-gray-color);
  color: var(--bg-gray-color);
}


/* CHECKKOUT ORDERSUMMARY*/

.checkout-ordersummary {
  margin: 4rem 0;
}

.checkout-ordersummary-table {
  width: 100%;
  font-size: var(--text);
  margin: 2rem 0;
  border-collapse: collapse;
  empty-cells: show;
}

.checkout-ordersummary-table tr {
  border-bottom: 1px solid var(--medium-gray-color);
  transition: background 0.3s;
}

.checkout-ordersummary-table tr:hover {
  background: var(--light-500-gray-color);
}

.checkout-ordersummary-table td {
  padding: 2rem 0 2rem 2rem;
}

.checkout-ordersummary-table td:last-of-type {
  text-align: right;
  padding-right: 2rem;
}

.checkout-ordersummary-table tfoot tr {
  border-bottom: none;
}

.checkout-ordersummary-table tfoot {
  font-weight: bold;
  text-align: right;
}

/* CHECKOUT ADDRESS-FORM */

.checkout-addressform {
  margin: 4rem 0;
}

.checkout-addressform-choice {
  background: var(--light-gray-color);
  box-shadow: 0 0 4px 1px var(--light-500-gray-color);
  border-radius: 15px;
  margin: 1rem 0 4rem;
}

.checkout-addressform-choice label {
  display: flex;
  position: relative;
  padding: 1.6rem 0 1.6rem 6rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkout-addressform-choice label {
  cursor: pointer;
}

.checkout-addressform-choice input {
  position: absolute;
  opacity: 0;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  align-self: center;
}

.checkmark-round {
  position: absolute;
  top: 50%;
  left: 2rem;
  height: 20px;
  width: 20px;
  background-color: var(--light-500-gray-color);
  border: solid 5px var(--medium-gray-color);
  border-radius: 50%;
  transform: translateY(-50%);
}

.checkmark-round::after {
  content: '';
  position: absolute;
  display: none;
}

.checkout-addressform-choice label:hover input~.checkmark-round {
  background-color: var(--medium-gray-color);
}

.checkout-addressform-choice label input:checked~.checkmark-round {
  background-color: var(--blue-color);
  border-color: var(--blue-color);
}

.checkout-addressform-choice label input:checked~.checkmark-round::after {
  display: block;
}

.checkout-addressform-choice label .checkmark-round::after {
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--bg-gray-color);
  transform: translate(-50%, -50%);
}

.checkout-addressform-address {
  display: flex;
  background: var(--light-gray-color);
  box-shadow: 0 0 4px 1px var(--light-500-gray-color);
  border-radius: 15px;
  margin: 2rem 0;
  padding: 2rem;
}

.checkout-addressform-address select {
  display: flex;
  font-size: var(--big-text);
  margin: 0 2rem;
  padding: 0.6rem;
}

.checkout-addressform-address-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}

.checkout-addressform-address-form>* {
  display: flex;
  margin: 2rem 0;
}

.checkout-addressform-address label {
  font-size: var(--header4);
  margin-bottom: 0.6rem;
}

.checkout-addressform-address input {
  font-size: var(--big-text);
  margin: 0 1rem;
  padding: 4px 1rem;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #DFDFDF;
  background: transparent;
  color: var(--dark-gray-color);
}

.checkout-payment {
  display: flex;
  flex-direction: column;
  margin: 4rem 0;
}

.checkout-payment-order {
  padding: 2rem 3rem;
}

.checkout-payment-order>p {
  margin: 1rem;
  font-size: var(--big-text);
}

.checkout-payment-order span {
  font-weight: bold;
}

#checkout-payment-address span::before {
  content: ' '
}

#checkout-payment-address span:not(:last-of-type)::after {
  content: ',';
}

.checkout-payment-form {
  align-self: center;
  min-height: 30vh;
  width: 70%;
  padding: 2rem 1rem;
  margin: 2rem 0;
  background: var(--light-gray-color);
  border-radius: 15px;
  box-shadow: 0 0 4px 1px var(--light-500-gray-color);
}

.checkout-payment-form button {
  width: 50%;
  align-self: center;
}


/* PRODUCT MAIN SECTION */

.product-main {
  display: flex;
  min-height: 50vh;
}

.product-main-images {
  width: 40%;
  padding: 2rem;
}

.product-main-props {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 4rem;
}

.product-main-props h2 {
  font-weight: normal;
}

.product-main-size,
.product-main-buttons {
  display: flex;
  margin: 3rem 0;
}

.product-main-size select {
  padding: 0.5rem 1rem;
  margin-left: 2rem;
  font-size: var(--big-text);
  cursor: pointer;
}

/* PRODUCT BUTTONS */

.product-buy {
  padding: 0 3rem;
  margin: 0 2rem 0 0;
}

.product-favorite {
  position: relative;
  border-radius: 50%;
  margin-left: 1rem;
}

/* PRODUCT DESCRIPTION */

.property {
  padding: 2rem 0 4rem;
}

.product-desc-tabs {
  display: flex;
  flex: 1 1;
  border-bottom: 1px solid var(--medium-gray-color);
  list-style: none;
}

.product-desc-tabs li {
  flex: 1;
  text-align: center;
  vertical-align: middle;
  font-size: var(--big-text);
  padding: 1rem 0;
  user-select: none;
  cursor: pointer;
}

.product-desc-tabs li:hover {
  color: var(--blue-color);
}

.active-tab {
  border-bottom: 2px solid var(--blue-color);
}

.product-desc-desc p {
  text-align: justify;
  padding: 1rem;
}

.product-desc-props {
  display: flex;
  flex-direction: column;
}

.props {
  display: flex;
}

.props div {
  padding: 1rem 3rem;
  font-size: var(--big-text);
}

.props-title {
  width: 20rem;
}

.props-value {
  flex: 1;
  font-weight: bold;
}

/* PRODUCT AVAILABILITY SECTION */

.product-desc-available {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.available-place {
  display: flex;
  width: 100%;
  padding: 2rem;
  margin-bottom: 2rem;
  font-size: var(--big-text);
}

.available-place-address {
  width: 30%;
  padding-left: 2rem;
}

.available-place-phone {
  flex: 1;
  width: 30%;
  text-align: center;
}

.available-place-availablity {
  width: 40%;
  text-align: right;
  padding-right: 2rem;
}

.product-desc-question p {
  margin-bottom: 2rem;
  padding: 1rem;
}

.question-textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
  font-size: var(--text);
}


/* LOGIN / REGISTER PAGE */

.register>p {
  display: inline;
}

.register>a {
  text-decoration: underline;
  color: var(--blue-color);
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 4rem;
}

.register-form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 35%;
}

.register-form-input label {
  margin-bottom: 0.6rem;
  font-size: var(--header4);
}

.register-form-input input {
  font-size: var(--big-text);
  padding: 4px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #DFDFDF;
  background: var(--bg-gray-color);
  color: var(--dark-gray-color);
}

.register-form-input input:focus {
  border-color: var(--blue-color);
}

.register-form p {
  color: red;
  font-size: var(--small-text);
  padding: 0.3rem 0 1rem;
}

.register-form button {
  width: 30%;
  margin: 2rem 0;
  font-size: var(--big-text);
}

.register-form button:disabled {
  background: #DFDFDF;
}

#dropdown-button {
  cursor: pointer;
}

#dropdown-menu {
  cursor: pointer;
  background: white;
  color: var(--dark-gray-color);
  padding: 1rem 1.6rem;
  border-radius: 5px;
  border: solid 1px #DFDFDF;
  z-index: 100;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

/* PROMOTIONS PAGE */

.promotion {
  padding: 1rem 0 3rem;
  margin: 4rem 0 4rem;
  text-align: justify;
  border-bottom: 1px solid var(--dark-gray-color);
}

.promotion:first-of-type {
  margin-top: 0;
}

.promotion:last-child {
  margin-bottom: 2rem;
  border-bottom: none;
}

.promotion h5 {
  color: var(--blue-color);
}

.promotion p {
  padding: 0.6rem;
  margin: 1.2rem 0;
}


/* CONTACT US PAGE */

.contact-wrapper {
  display: flex;
  justify-content: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 3rem;
}

.contact-form textarea,
input {
  outline: none !important;
  width: 100%;
  font-size: var(--small-text);
  padding: 0.8rem;
  margin: 1rem 0 5rem;
}


.contact-form button {
  align-self: center;
  width: 50%;
}


/* FAVORITES PAGE */

.favorites-wrapper {
  display: flex;
  flex-direction: column;
}

.favorites-empty p {
  font-size: var(--big-text);
  text-align: center;
  margin: 6rem 0;
}

.favorites-item {
  display: flex;
  padding: 3rem 0;
  border-bottom: solid 1px var(--medium-gray-color);
}

.favorites-item:last-child {
  border-bottom: none;
}

.favorites-item p {
  font-size: var(--small-text);
}

.favorites-item-name {
  flex: 1 1 100%;
  padding-left: 3rem;
}

.favorites-item-name {
  align-self: center;
}

.favorites-item-price {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1 1 40rem;
  align-items: flex-end;
}

.favorites-item-price p {
  font-size: var(--big-text);
}

.favorites-item-price>* {
  margin: 0.4rem 0;
}


/* SPECIFIC CATEGORY PAGE */

.category-wrapper {
  display: flex;
  position: relative;
}

.category-product-list {
  display: flex;
  flex-direction: column;
  width: 77%;
}

.category-products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.category-card {
  min-width: 25rem;
  height: 30rem;
  transition: box-shadow 0.3s ease;
}

.category-card:hover {
  box-shadow:
    3px 3px 3px 3px rgba(119, 136, 153, .2),
    0 -3px 3px 3px rgba(119, 136, 153, .2),
    -3px 0px 3px 3px rgba(119, 136, 153, .2);
}

.category-card>* {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* SPECIFIC CATEGORY - PAGE SECTION */

.page-section {
  display: flex;
  justify-content: center;
  flex: 1;
  font-size: var(--text);
  padding: 4rem 0;
}

.page-section button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: none;
  color: var(--blue-color);
  border: 1px solid var(--blue-color);
  padding: 0;
  margin: 0 1rem;
  transition: background 0.3s ease;
}

.page-section button:hover {
  background: var(--blue-color);
  color: var(--light-500-gray-color);
}

.page-section button:disabled {
  background: var(--light-gray-color);
  color: var(--bg-gray-color);
  border-color: var(--light-500-gray-color);
  cursor: default;
}

.page-section-number {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: var(--light-500-gray-color);
  color: var(--dark-gray-color);
  text-align: center;
  line-height: 40px;
}

/* SPECIFIC CATEGORY -SIDEBAR SECTION */

.category-sidebar {
  display: flex;
  flex-direction: column;
  width: 23%;
  min-height: 70vh;
  padding: 2rem 2rem 4rem;
  margin-left: 1rem;
}

.category-sidebar-properties {
  display: flex;
  flex-direction: column;
}

.category-sidebar-properties p {
  font-size: var(--big-text);
  margin: 3.6rem 0 1rem;
}

.category-sidebar-checkbox {
  display: flex;
  position: relative;
  padding: 0.6rem;
  padding-left: 4rem;
}

.category-sidebar-checkbox label {
  cursor: pointer;
}

.category-sidebar-checkbox input {
  position: absolute;
  opacity: 0;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  align-self: center;
}

.checkmark-square {
  position: absolute;
  top: 50%;
  left: 1rem;
  height: 20px;
  width: 20px;
  background-color: var(--light-500-gray-color);
  border: solid 5px var(--medium-gray-color);
  transform: translateY(-50%);
}

.checkmark-square:after {
  content: '';
  position: absolute;
  display: none;
}

.category-sidebar-checkbox label:hover input~.checkmark-square {
  background-color: var(--medium-gray-color);
}

.category-sidebar-checkbox label input:checked~.checkmark-square {
  background-color: var(--blue-color);
  border-color: var(--blue-color);
}

.category-sidebar-checkbox label input:checked~.checkmark-square::after {
  display: block;
}

.category-sidebar-checkbox label .checkmark-square::after {
  top: 50%;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg) translate(-50%, -50%);
}


/* RANGE-SLIDER */

.slider {
  padding: 1rem 0 0;
  position: relative;
}

.slider-text {
  display: flex;
  margin: 0 1rem;
  margin-bottom: 2rem;
}

.slider-text>* {
  font-size: var(--text);
  margin: 0 1rem 0 0;
}

.slider-value {
  display: block;
  background: var(--bg-gray-color);
  opacity: 0.9;
  border-radius: 5px;
  width: 200px;
  text-align: center;
}

.slider-input {
  position: relative;
  width: 85%;
  height: 8px;
  margin: auto;
  border-radius: 5px;
}

.slider-input-track {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background: var(--bg-gray-color);
  z-index: 1;
}

.slider-input-range {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--blue-color);
  z-index: 2;
}

.slider-input-thumb {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--blue-color);
  cursor: pointer;
  z-index: 3;
}

.thumb-left {
  transform: translate(-50%, -27%);
}

.thumb-right {
  transform: translate(50%, -27%);
}

.slider-min,
.slider-max {
  position: absolute;
}


/* STRIPE */

#stripeBtnLabel {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-variant: normal;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
}

#stripeBtn {
  border: none;
  border-radius: 4px;
  outline: none;
  text-decoration: none;
  color: #fff;
  background: #32325d;
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.025em;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  float: left;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.stripe-form {
  padding: 2rem 3rem;
}

#card-errors {
  height: 2rem;
  padding: 1rem 0;
  color: #fa755a;
}

.stripe-form-row {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
}

.StripeElement {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.current-card-form {
  display: none;
}

.__PrivateStripeElement-input {
  border: none;
  background: transparent;
}



.light-gray-container {
  background: var(--light-gray-color);
  border-radius: 15px;
  box-shadow: 0 0 6px var(--light-500-gray-color);
}

.burger {
  display: none;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-right: 0.6rem;
  z-index: 10001;
}

.burger span {
  padding: 2px 2rem;
  background: var(--blue-color);
  margin: 0.3rem 0;
  transition: transform 0.3s ease;
}

.burger-open span {
  background: var(--bg-gray-color);
}

.burger-open span:nth-of-type(1) {
  transform-origin: top left;
  transform: rotateZ(45deg) translateY(-120%);
}

.burger-open span:nth-of-type(2) {
  opacity: 0;
}

.burger-open span:nth-of-type(3) {
  transform-origin: bottom left;
  transform: rotateZ(-45deg) translateY(140%);
}

.hearth-beat {
  color: var(--blue-color);
  animation: hearth-beat 1s infinite;
}


/* ANIMATIONS */

/* FADNG ANIMATIONS */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.2s;
  animation-name: fade;
  animation-duration: 1.2s;
}

@-webkit-keyframes fade {
  from {
    opacity: .3
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .3
  }

  to {
    opacity: 1
  }
}

/* MOVE TOP TO BOTTOM ANIMATION */

@-webkit-keyframes move-top-to-bottom {
  from {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    top: -50%;
  }

  to {
    visibility: visible;
    opacity: 1;
    z-index: 100;
    top: 100%;
  }
}

@keyframes move-top-to-bottom {
  from {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    top: -50%;
  }

  to {
    visibility: visible;
    opacity: 1;
    z-index: 100;
    top: 100%;
  }
}

/* BUBBLING BUTTON ANIMATION */

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

/* BOUNCING BALLS LOADING ANIMATIONS */

@keyframes bouncer {
  from {
    transform: translateY(0)
  }

  to {
    transform: translateY(calc(-100% * 4))
  }
}

/* HEARTHBEAT ANIMATION */

@keyframes hearth-beat {
  0% {
    transform: scale(1.05);
  }

  20% {
    transform: scale(0.9);
  }

  40% {
    transform: scale(1.05);
  }

  60% {
    transform: scale(0.9);
  }

  80% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1.05);
  }
}

/* END ANIMATIONS */


/* MEDIA QUERIES */

@media screen and (min-width: 1700px) {
  :root {
    --header1: 4rem;
    --header2: 5rem;
    --header3: 3.6rem;
    --header4: 3rem;
    --text: 3rem;
    --big-text: 2.4rem;
    --text: 2.2rem;
    --small-text: 1.6rem;
    --big: 8rem;
  }
}

@media screen and (max-width: 1600px) {
  .category-products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media screen and (max-width: 1380px) {
  body {
    width: 98%;
  }

  .search-nav-fixed {
    padding: 0 1%;
  }

}

@media screen and (max-width: 1024px) {

  h1 {
    padding-left: 1rem;
  }

  /* HEADER */

  .top-nav-logo {
    width: 100%;
  }

  .top-nav-menu {
    flex-direction: column;
    align-items: center;
  }

  .top-nav-address {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .top-nav-address a {
    padding: 1rem 0;
  }

  .top-nav-address-list {
    left:-20%;
  }

  .search-nav ul {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    padding-top: 5px;
    background: #fff;
    box-shadow: 0 -2px 2px rgba(0, 0, 0, .12);
  }

  .search-nav-input {
    padding: 0 2rem;
  }

  .catalog-item-name {
    font-size: var(--text);
  }

  /* CATEGORIES ON INDEX PAGE */

  .categories-cards {
    justify-content: space-around;
  }

  .categories-card {
    max-width: 45vw;
  }

  .category-products-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .category-sidebar {
    width: 30%;
  }

  /* VERTICAL CARDS */

  .vertical {
    flex-direction: column;
  }

  /* CART PAGE */

  .cart-wrapper {
    flex-direction: column;
  }

  .cart-products-item-name a,
  .cart-products-item-price {
    font-size: 2rem;
  }

  .cart-products-item-name p,
  .cart-props p {
    font-size: var(--text);
  }

  .cart-products-item-img {
    min-width: 10rem;
  }

  .cart-props {
    width: 98%;
    margin: 0 auto;
  }

  .cart-props-buttons {
    width: 70%;
    margin: 2rem auto 0 auto;
  }

  .cart-props-buttons button {
    font-size: 1.4rem;
  }

  /* CHECKOUT */

  .checkout-wrapper {
    width: 98%;
  }

  /* FOOTER */

  footer {
    margin-bottom: 7rem;
  }

}

@media screen and (max-width: 768px) {

  button {
    font-size: 1.2rem;
  }

  .top-nav-address-list {
    left:0;
  }

  .vertical-card {
    min-height: 15rem;
  }

  .vertical-card-title a,
  .vertical-card-cost {
    font-size: 2rem;
  }

  .category-product-list {
    width: 95%;
    margin: 0 auto;
  }

  .category-products-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .category-card {
    min-width: 15rem;
  }


  /* CATEGORY SLUG PAGE */

  .category-sidebar {
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    left: 100%;
    border-radius: 0;
    box-shadow: 0 0 8px 2px var(--medium-gray-color);
    z-index: 10002;
    transition: transform 0.4s linear;
  }

  .category-sidebar.is-open {
    transform: translateX(-100%);
  }

  .category-sidebar>h5 {
    font-size: 3rem;
  }

  .category-sidebar>* {

  }

  .category-sidebar-properties {
    margin-top: 3rem;
  }

  .category-sidebar-properties p,
  .category-sidebar-checkbox label,
  .slider-value {
    font-size: 2rem;
  }

  #filter-reset,
  #filter-open,
  #filter-close {
    display: block;
    font-size: 1.6rem;
    margin-left: 0;
    margin-top: 15px;
  }

  /* PRODUCT SLUG PAGE */

  .product-main {
    flex-direction: column;
  }

  .product-main-images {
    padding: 2rem;
    margin: auto;
  }

  .product-main-buttons {
    flex-wrap: wrap;
  }

  .product-desc-tabs li {
    line-height: 12px;
  }

  /* CONTACT US PAGE */

  .contact h5 {
    text-align: center;
  }

  .contact-form {
    width: 100%;
  }

  .register-form button {
    width: 60%;
    font-size: var(--text);
  }

  .register-form-input {
    width: 80%;
  }

  .checkout-circles {
    /*padding: 0;*/
  }

  .checkout-circle {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: var(--big-text);
    margin: 0 5rem;
  }

  .checkout-circle::after {
    width: 12rem;
  }

  .checkout-payment-form {
    width: 100%;
  }


}

@media screen and (max-width: 640px) {

  :root {
  --big-text: 1.4rem;
  --text: 1.2rem;
  --small-text: 0.4rem;
  }

  .carousel {
    display: none;
  }

  .top-nav-address {
    display: none;
  }

  .categories-cards {
    justify-content: space-around;
    column-gap: 0;
  }

  .categories-card {
    max-width: 45vw;
    max-height: 10rem !important;
    min-height: 10rem;
    overflow: hidden;
  }

  .categories-card-title,
  .vertical-card-title a,
  .vertical-card-cost {
    font-size: 1.4rem;
  }

  .vertical-card-right {
    display: none;
  }

  .top-nav {
    display: flex;
    flex-direction: column;
  }

  .top-nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: var(--blue-color);
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    padding: 5rem;
    z-index: 10000;
    transition: transform 0.7s ease;
  }

  .top-nav-menu a {
    color: var(--bg-gray-color);
  }

  .top-nav-menu-open {
    transform: translateX(-100%);
  }

  .top-nav-menu a {
    font-size: 1.8rem;
  }

  .top-nav-menu li {
    padding: 1.4rem;
  }

  .search-nav {
    display: flex;
  }

  .search-nav-input {
    margin: 0 0 1rem 1rem;
    padding: 0;
    width: 100%;
  }

  .search-nav-input input {
    font-size: 1.2rem;
  }

  .catalog {
    margin: 0.6rem 0;
    padding-left: 2rem;
    font-size: 1.2rem;
  }

  .catalog-item-name {
    font-size: 1.4rem;
  }

  /* CART PAGE */

  .cart-products {
    margin: 0;
  }

  .cart-products-item {
    flex-wrap: wrap;
    padding: 2rem 0;
  }

  .cart-products-item-actions {
    width: 20%;
    margin-left: 2rem;
  }

  .cart-products-item-img {
    display: inline-block;
  }

  .cart-products-item-name {
    display: inline-block;
    min-width: calc(100% - 11rem);
  }

  .cart-products-item-icons {
    display: flex;
    flex-direction: column;
    top: 30%;
  }

  .cart-products-item-icons>* {
    margin: 1rem 0 !important;
  }


  /* CATEGORY SLUG PAGE */

  .category-sidebar {
    width: 60%;
  }

  /* PRODUCT SLUG PAGE */

  .product-main-props {
    padding: 1rem;
  }

  .catalog-menu {
    width: 250px;
  }

  #payment-button {
    width: 100%;
  }

  .question-textarea {
    width: 95%;
    margin-left: 1rem;
  }

  .available-place {
    width: 98%;
    margin: 1rem auto;
  }

  .available-place>* {
    padding: 1rem;
    text-align: center;
  }

  .available-place-availablity {
    width: 20%;
  }

  /* BURGER MENU */

  .burger {
    display: flex;
  }

}

@media screen and (max-width: 480px) {

  .checkout-ordersummary-table td {
    padding: 2rem 0;
    text-align: center;
    white-space: nowrap;
  }


  .checkout-circle {
    font-size: var(--text);
    margin: 0 2rem;
  }

  .checkout-circle::after {
    width: 6rem;
  }

  #favorites-delete-button {
    text-align: right;
  }
}